<!DOCTYPE html>
<html lang="en">
<style>
 

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Estudantes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto['id'] }}</td>
                <td>{{ produto['produto'] }}</td>
                <td>{{ produto['quantidade'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>